<div th:fragment="navbar">
    <nav class="navbar">
        <div class="logo">
            <img src="/img/LogoEntreBicis.png" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/rutes">Rutes</a></li>
            <li><a href="/recompenses">Recompenses</a></li>
            <li><a href="/usuaris" class="active">Usuaris</a></li>
            <li><a href="/parametres">Paràmetres del Sistema</a></li>
            <li><a href="/logout">Tancar Sessió</a></li>
        </ul>
    </nav>
</div>