<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EntreBicis - Inici Sessió</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <img class="logo-inici" src="/img/LogoEntreBicis.png" alt="Logo EntreBicis">
        </div>

        <div class="login-box">
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>
            <h2>Inici Sessió</h2>
            <form th:action="@{/login}" method="post">
                <label>Email:</label>
                <input type="email" name="email" required>
                <label>Contrasenya:</label>
                <input type="password" name="password" required>
                <button class="button" type="submit">Confirmar</button>
            </form>
            <a href="https://www.entrebicis.org/formuluari-club" target="_blank">
                <button class="button">Formulari Alta</button>
            </a>
        </div>
    </div>
</body>