<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llista Recompenses</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 class="title">Llista Recompenses</h1>
    <a href="/recompenses/crear" class="button">Crear Recompensa</a>

    <div class="rewards-container">
        <a th:each="recompensa : ${recompenses}" th:href="@{/recompenses/consultar/{id}(id=${recompensa.id})}"
            class="rewards-card">

            <div class="rewards-image">
                <img th:if="${imatgesBase64[recompensa.id] != null}"
                    th:src="'data:image/jpeg;base64,' + ${imatgesBase64[recompensa.id]}" alt="Imatge Recompensa">
            </div>

            <div class="rewards-content">
                <h2 th:text="${recompensa.descripcio}" class="rewards-title">Nom Recompensa</h2>
                <p class="rewards-place">
                    <span th:text="${recompensa.nomComerc}">Nom Comerç</span><br>
                    <span th:text="${recompensa.adrecaComerc}">Adreça Comerç</span>
                </p>
                <p class="rewards-dates">
                    <span><strong>Data creació:</strong> <span th:text="${recompensa.dataCreacio}">--</span></span><br>
                
                    <span th:if="${recompensa.dataReserva != null}">
                        <strong>Data reserva:</strong> <span th:text="${recompensa.dataReserva}">--</span><br>
                    </span>
                
                    <span th:if="${recompensa.dataAssignacio != null}">
                        <strong>Data assignació:</strong> <span th:text="${recompensa.dataAssignacio}">--</span><br>
                    </span>
                
                    <span th:if="${recompensa.dataRecollida != null}">
                        <strong>Data recollida:</strong> <span th:text="${recompensa.dataRecollida}">--</span>
                    </span>
                </p>
                <p class="rewards-user" th:if="${recompensa.estat != 'DISPONIBLE' and recompensa.usuari != null}">
                    <strong>Usuari:</strong> <span th:text="${recompensa.usuari.nom + ' ' + recompensa.usuari.cognoms}">usuari@example.com</span>
                </p>
                <div class="rewards-estat-punts">
                    <span class="rewards-estat" th:text="${recompensa.estat}">Estat</span>
                    <span class="rewards-punts">
                        <span th:text="${recompensa.punts}">0</span>
                        <img src="/img/coin-icon.png" alt="Punts">
                    </span>
                </div>
            </div>
        </a>
    </div>
</body>

</html>