<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Llista Rutes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body class="body-with-navbar">
    <div th:replace="~{fragments/navbar :: navbar('rutes')}"></div>
    <h1 class="title">
        <span th:if="${usuariRutes != null}">
            Llista de Rutes de
            <span th:text="${usuariRutes.nom + ' ' + usuariRutes.cognoms}">Usuari</span>
        </span>
        <span th:unless="${usuariRutes != null}">
            Llista de Rutes
        </span>
    </h1>

    <div class="rutes-container">
       <p th:if="${#lists.isEmpty(rutes)}"
           style="text-align: center; font-weight: bold; font-size: 1.2em; padding: 20px;">
            <span th:if="${usuariRutes != null}">
                No hi ha cap ruta registrada per aquest usuari.
            </span>
            <span th:unless="${usuariRutes != null}">
                No hi ha rutes disponibles.
            </span>
        </p>
        <div th:each="ruta, iter : ${rutes}" class="ruta-card">
            <h2 class="ruta-title" th:text="'Ruta ' + ${ruta.id}">Ruta</h2>
            <p class="ruta-subtitle" th:text="'(' + ${ruta.usuari.nom} + ' ' + ${ruta.usuari.cognoms} + ')'">Usuari</p>

            <div class="ruta-info">
                <p><strong>Distància:</strong> <span
                        th:text="${#numbers.formatDecimal(ruta.distancia, 1, 2)} + ' m'"></span></p>
                <p><strong>Temps:</strong> <span
                        th:text="${#numbers.formatDecimal(ruta.tempsTotal, 1, 2)} + ' h'"></span></p>
                <p><strong>Velocitat Mitja:</strong> <span
                        th:text="${#numbers.formatDecimal(ruta.velocitatMitjana, 1, 2)} + ' km/h'"></span></p>
                <p><strong>Velocitat Màx.:</strong> <span
                        th:text="${#numbers.formatDecimal(ruta.velocitatMaxima, 1, 2)} + ' km/h'"></span></p>
            </div>

            <div class="ruta-footer">
                <div class="ruta-punts">
                    <img src="/img/coin-icon.png" alt="Punts">
                    <span th:text="${#numbers.formatDecimal(ruta.saldoObtingut ?: 0.0, 1, 2)}">0.00</span>
                </div>
                <span class="ruta-estat" th:text="${ruta.validada ? 'Validada' : 'No Validada'}"
                    th:classappend="${ruta.validada} ? 'text-success' : 'text-danger'"></span>
            </div>

            <a th:href="@{'/rutes/consultar/' + ${ruta.id}}" class="button">Veure Detalls</a>
        </div>
    </div>

</body>

</html>